# Archivos de entorno virtual de Python
Backend/venv/
*.pyc
__pycache__/
Backend/siu.db

# Archivos de dependencias de Node / React
Frontend/node_modules/
Frontend/dist/

# Seguridad y variables de entorno
.env
*.p12
.DS_Store